html, body {
    margin: 0;
    font-family: Lato;
}

.scp-dash {
    width: 800px;
    margin: 0 auto;
}

.scp-top, .scp-mid, .scp-btm {
    float: left;
    width: 100%;
}

.scp-top {
    position: fixed;
    top: 0;
    background: #333;
    height: 72px;
    color: #fff;
}

.scp-mid {
    height: 600px;
    background: pink;
}
.scp-btm {
    height: 64px;
    background: orange;
}

.scp-post {
    float: left;
    width: 100%;
}

.scp-post-title {
    float: left;
    height: 64px;
    width: 100%;
}
.scp-post-body {
    float: left;
    height: 180px;
    width: 100%;
}