html, body {
    margin: 0;
    font-family: Lato;
    background: #eee;
}

.scp-dash {
    width: 100%;
    margin: 0 auto;
}



.scp-top, .scp-mid, .scp-btm {
    float: left;
    width: 100%;
}

.scp-top {
    background: #333;
    height: 48px;
    color: #fff;
}

.scp-hdr {
    text-align: center;
}

.scp-hdr h2 {
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.scp-hdr span {
    background: #aaa;
    color: #333;
    font-size: 9px;
    padding: 2px;
    border-radius: 3px;
}

.scp-mid {
    padding-top: 8px;
}
.scp-btm {
    height: 64px;
    background: orange;
}

.scp-post {
    width: 80%;
    margin: 0 auto 16px auto;
    background: #fff;    
    padding: 8px 16px;
    border-radius: 3px;
}

.scp-post-title {
    float: left;
    height: 64px;
    width: 100%;
}
.scp-post-body {
    float: left;
    height: 180px;
    width: 100%;
}